html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

#main {
    padding: 120px 5% 5% 5%;
    height: 200vh; 
}

h2 { font-size: 2.5rem; }
p { font-size: 2rem; }

/* Nav bar */

nav {
    position: fixed;
    top: -100px;
    display: flex;
    flex-direction: row;
    z-index: 1;

    background-color: #3E4A3D;

    width: 100vw;
    height: fit-content;

    transition: 0.3s ease-in-out;
}

nav img {
    height: 70px;
    border-radius: 20px;

    margin: 15px 20px;
    margin-right: auto;
}

nav a {
    color: #CDF0C3;
    font-size: 2rem;
    text-decoration: none;

    padding: 10px;
    border-radius: 1.5rem;
    margin: auto 15px;

    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: #1C775A;
    background-color: #CDF0C3;
    font-size: 2.5rem;

    padding: 15px 20px;
    border-radius: 20px;
}

.current-page { text-decoration: underline; }


/* Home Page */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #000;

    background-image: linear-gradient(to right top, #1c775a, #318a73, #469e8c, #5cb1a6, #73c5bf, #81d0c8, #8fdad0, #9de5d9, #a7e8d3, #b2ebcd, #bfeec8, #cdf0c3);;
    height: 100vh;
    gap: 1rem;
}

header h1{
    font-size: 8rem;
}

header h2 {
    font-size: 2rem;
}

header .scroll {
    position: absolute;
    bottom: 18%;
    left: 48%;
    padding: 2%;

    color: #000;
    transform: translate(0, -50%);
    transition: all 0.5s;
}